.navi{
    grid-area: navi;
    background-color: lightgrey;
    justify-content: center;
    
   
}
.item a{
color: #ffffff;
place-items: center;
text-decoration: none;
}

.item a.activeLink{

color: #000000;

}