.app-new{
  width: auto;
  display: grid;
  margin:  5px;
  justify-content: center;   
  
grid-template-areas:
"head head Login"
"navi cont lent"
"foot foot foot";

grid-template-rows: 60px 1fr;
grid-template-columns: 10% 885px 200px;

}

.app-new-cont{
  color: black;
  display: flex;
  /*flex-direction: column;*/
  /*align-items: center;*/
  background-color: rgb(224, 228, 216);
  
}
.app-new-cont img{
  border-radius: 500px;

}





