.app-new{
  width: auto;
  display: grid;
  margin:  auto;
  justify-content: center;
  
  
  
  
grid-template-areas:
"head head Login"
"navi cont lent"
"foot foot foot";

grid-template-rows: 60px 1fr;
grid-template-columns: 10% 885px 200px;

}



